@model Vidly.ViewModels.RandomMovieViewModel
@using Vidly.Models

<!--Override default table style-->
<style>
    table, th, td {
        border: 1px solid black;
        padding: 10px;
    }

    table {
        border-spacing: 15px;
    }
</style>

@{
    ViewBag.Title = "GenerateRandomFilm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    Below changes the classname of the moive
    depending on number of customers have it
*@

@{
    var className = Model.Customers.Count >= 2 ? "popular" : null;
}

<title>@ViewBag.Title</title>
<h2>Name of the movie is: <i class="@className">@Model.Movie.name</i></h2>
<h3>The price of the movie is: @Model.Movie.price</h3>

@if (Model.Customers.Count == 0)
{
    <text>None have watched this film!</text>
}
else
{
    <!--Razor view to print out customer info-->
    <table>
        <tr>
            <th>Name</th>
            <th>ID</th>
        </tr>
        @{ foreach (Customer c in Model.Customers)
            {
                <tr>
                    <td>@c.Name</td>
                    <td>@c.ID</td>
                </tr>
            }

        }
    </table>
}




